ekf_filter_node:
  ros__parameters:
    frequency: 30.0
    two_d_mode: true
    publish_acceleration: false
    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_footprint  # Controller ile aynı 
    world_frame: odom

    odom0: /diff_drive_base_controller/odom
    odom0_config: [false, false, false,
                   false, false, false,
                   true,  false, false,
                   false, false, true,
                   false, false, false]
    odom0_differential: false
    odom0_relative: false
    odom0_queue_size: 10 # Uyarı almamak için ekledim

    imu0: /imu
    imu0_config: [false, false, false,
                  false, false, false,
                  false, false, false,
                  false, false, true,
                  true,  false, false] 
    imu0_differential: false
    imu0_relative: true
    imu0_queue_size: 10 # Uyarı almamak için ekledim